[Unit]
Description=auto balance btrfs
After=multi-user.target


[Service]
Type=forking
TimeoutStartSec=infinity
ExecStartPre=/usr/bin/big-btrfs-fix-to-timeshift
ExecStart=/usr/bin/big-btrfs-balance


[Install]
WantedBy=multi-user.target
