[Unit]
Description=auto balance btrfs
After=multi-user.target


[Service]
Type=simple
TimeoutStartSec=infinity
ExecStart=/usr/bin/big-btrfs-fix-to-timeshift


[Install]
WantedBy=multi-user.target
